version: "3.9"

services:
  app:
    build: .
    image: asteroid-backend:latest
    container_name: asteroid_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
