name: CI/CD Testes Flask

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          # Aqui você roda seus testes unitários ou pytest
          pytest --maxfail=1 --disable-warnings -v

      - name: Lint code
        run: |
          pip install flake8
          flake8 .
