name: CI/CD Testes Dados

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8  # garante que pytest e flake8 estão disponíveis

      - name: Run metadata tests
        env:
          PYTHONPATH: .
        run: |
          # Executa apenas os testes de geração de metadados
          pytest tests/test_metadata.py -v --maxfail=1 --disable-warnings

      - name: Lint code
        run: |
          flake8 .
